@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --color-black: #0B0F19;
  --color-primary: #6366F1;
  --color-gray600: #9397AD;
  --color-white: #FFFFFF;
  --color-gray300: #E2E5F1;
  --color-gray100: #F3F6FF;
  --color-gray700: #565973;
  --color-gray500: #B4B7C9;
  --container-padding: 1rem;
  --transition-time: all 0.2s;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition-time);
}



.dark-theme {
  --color-black: #FFFFFF;
  --color-white: #0B0F19; 
  --color-primary: #6366F1;
  --color-gray600 :#FFFFFF;
  --color-gray300: #FFFFFF;
  --color-gray100: #1c1f2749;
  --color-gray700: #FFFFFF;
  --color-gray500: #FFFFFF;
}
body.dark-theme {
  --color-black: #FFFFFF;
  --color-white: #0B0F19; 
  --color-primary: #6366F1;
  --color-gray600 :#FFFFFF;
  --color-gray300: #FFFFFF;
  --color-gray100: #1c1f2749;
  --color-gray700: #FFFFFF;
  --color-gray500: #FFFFFF;
}


*  {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {

margin: 0;
padding: 0;


}

img {
  display: block;
}

.flex {
  display: flex;
  gap: 2rem;
}

.content {
 flex: 1;
}



body {
  font-family: "manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@media (min-width: 768px) {

  .navbar {
    max-width: 720px;
  }

  .nav-bar {
    max-width: 720px;
  }
  
  .container1 {
    max-width: 720px;  
  }
  .container2 {
    max-width: 720px;  
  }
  .container3 {
    max-width: 720px;  
  }
  .container4 {
    max-width: 720px;  
  }
  .container5 {
    max-width: 720px;  
  }
  .container6 {
    max-width: 720px;  
  }
.navbar {
  display: block;
  }

#auth-signin {
  display: block;
}
.btn-mobile {
  display: none;
}
}



/* Detta är alla länkar */
a {
color: var(--color-primary);
text-decoration: none;
}
a:hover {

  color: var(--color-primary);
  text-decoration: underline;
}
 /* Detta är linjen längst upp på sidan */
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 1rem 6rem
  
}

#wrapper {

/* Detta är features-iconen */
.nav-link {
  color: var(--color-black);
  font-weight: 600;
  text-decoration: none;
  margin-left: 5rem
  
}
/* Detta är när man för musen över ikonen */
.nav-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
/* Detta är silicon-loggan */
#logo {
  padding-left: 0rem;
}

/* Detta är sign in knappen */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 8px 20px;
  display: inline-flex; /* Använd inline-flex för att inte ta upp full bredd */
  flex-direction: row; /* Se till att barnen ligger vågrätt */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap; /* Förhindra att texten bryts till nästa rad */
}

.btn-primary:hover {
background-color: var(--color-gray600);
color: var(--color-white);
text-decoration: none;
}
.btn-primary {
  margin-left: 1rem;
  }

  .btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem; 
 }
/* Detta är darkmode knappen */
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
    margin-left: 30rem;
    white-space: nowrap;
}
  
.btn-toggle-switch .label {
  display: flex;
 }
  
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
  
.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}
  
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
  
  
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
  
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray600);
    transition: all 0.2s;
}
  
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
  
.toggle-switch .slider.round {
    border-radius: 35px;
}
  
.toggle-switch .slider.round:before {
    border-radius: 50%;
}
}


/* Detta är apple dowloadappen */
.btn-download-app {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-download-app:hover {
  background-color: var(--color-gray600);
  color: var(--color-white);
  text-decoration: none;
  }
/* Detta är cirkeln till discover more knappen */
  .btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-gray600);
    background-color: var(--color-white);
    color: var(--color-black);
    
    
  }

  .homecontact {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    gap: 20px;
    margin-left: 5rem;
  }


#hero1 {
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  width: 100vw; /* Full bredd över hela viewporten */
  display: flex;
  justify-content: center;
  

  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    justify-items: center; 
    align-items: center;    
    place-items: center;    
  }

  @media (max-width: 768px) {
    .container1 {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "headline content"
         "images";
    }
  }


.headline {
  grid-area: headline;
  text-align: left;
  grid-column: span 1;
}

.headline h1 {
  font-size: 56px;
  font-weight: 800;
  max-width: 500px;
}

@media (max-width: 768px) {
  .headline h1 {
    text-align: left;
  }
}

.content {
  grid-area: content;
}

.content p {
  font-size: 18px;
  margin-bottom: 3rem;
  max-width: 450px;
  color: #565973;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.discover-more {
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-row: 2;
  margin-top: 12rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .discover-more {
    justify-content: center;
  }
}

/* Detta är mobilerna i hero */
.images {
  grid-column: 2; /* Lägger bilderna i den andra kolumnen */
  position: relative;
  margin-left: 35rem;
}

.img-back {
  position: absolute;
  bottom: 0;
  right: 230px; 
}

.img-front {
  position: absolute;
  bottom: 0;
  right: 0px; 
}
}

/* Detta är alla logos på rad under hero*/



.brand-box {
  border: 1px solid var(--color-gray300);
  border-radius: 8px;
  height: 100px;
  width: 400px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


#brands {
  display: block;

  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 2rem;
    gap: 1rem;
    max-width: 100%;
  }

}
@media (max-width: 720px) {
  .container2 {
    flex-direction: column; /* Stapla elementen vertikalt på små desktops */
    padding-left: 0; 
    gap: 1rem;
  }

  .brand-box {
    width: 100%; /* Använd hela skärmens bredd */
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem; /* Mellanrum mellan boxarna */
    margin: 2rem;
  }
}

 /* app features sidan */
 #page2 {
  #p2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Skapar tre lika stora kolumner */
    gap: 10rem; 
    margin: auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
    width: 100%; /* Se till att grid fyller sitt container */
    
/* mobilen i features */
    #app-preview {
      display: block;
      height: auto;
      align-self: flex-end;
      margin-left: -15rem

  
    }

   /* För containern som håller alla feature items */
.feature-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 2rem; 
  padding: 2rem 0; 
  width: 100%; 
  
}

/* För varje individuellt feature-item */
.feature-item-li {
  display: flex;
  align-items: center; 
  gap: 1rem; 
}

/* Bakgrunden på ikonerna */
.icon-holder {
  background-color: var(--color-gray100);
  padding: 12px;
  max-width: 53px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text-stil för varje feature */
.text-item h4 {
  font-size: 20px;
  margin: 0;
}

.text-item p {
  margin: 0.5rem 0 0;
  color: #565973;
}

      #app-features {
        font-size: 3rem
      }

      .p1 {
        color:#565973;
        font-size: 16px;
        width: 44rem
        
      }  
  
 }   

}
 /* tre mobiler på rad */

#page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Vertikal centrering */
  align-items: center;      /* Horisontell centrering */
  height: 100%; 
  padding: 2rem 0;
  text-align: center;
  background-color: var(--color-gray100);
}


#page3 .text-item h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-black);
}


#three-iphones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Individuella bildbehållare */
.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  max-width: 100%; /* Anpassar bredden */
  height: auto; 
}

/* Text och beskrivning efter bilderna */
#transactions {
  margin-top: 1rem;
}

#transactions h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-black);
}

#transactions p {
  color: #565973;
  font-size: 14px;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto; /* Centrerar texten */
}

/* Responsiv design */
@media (max-width: 720px) {
  #three-iphones {
    flex-direction: column;
  }

  #page3 .text-item h2 {
    font-size: 1.5rem;
  }

  #transactions h3 {
    font-size: 1.2rem;
    color: #565973;
  }

  #transactions p {
    font-size: 0.9rem;
    color: #565973;
  }
}




/* Sida 4 tog jag hjälp av chat gtp att få ihop tillsammans med egna försök */

#page4 {
  max-width: 720px;
  margin: auto;
  padding: 4rem 0;
  white-space: nowrap;
 
}

.p4-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; /* Gör att raderna anpassar sig till mindre skärmar */ 
}

.item-left, 
.image-container, 
.p4-text {
  min-width: 0; /* Förhindra att flex-elementen blir för små */
}

/* Vänstra textdelen */
.item-left {
  margin-left: 0;
}

.item-left h2 {
  font-size: 32px;
  margin-bottom: 1.5rem;
}
.icon-holder {
  background-color: var(--color-gray100);
  padding: 12px;
  max-width: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.p4-ul-1 {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.p4-ul-1 .p4-li-1 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.p4-ul-1 .p4-li-1 i {
  color: var(--color-primary);
  margin-right: 1rem;
}

.p4-ul-1 .p4-li-1 p {
  margin: 0;
  color: #565973;
}

.item-left button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  padding: 12px 30px;
  font-family: "manrope", sans-serif;
  cursor: pointer;
  display: inline-flex;
  width: 10rem;
  align-items: center;
}

.item-left button i {
  margin-left: 10px;
}

/* Bildbehållare */
.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
    max-width: 100%; /* Begränsa bildstorleken till att hålla sig inom förälderns bredd */
    height: auto;
    border-radius: 10px;
}


/* Andra delen, text och bild */
.p4-text {
  flex: 1;
  
}

.p4-text h2 {
  font-size: 32px;
  margin-bottom: 1.5rem;
}

.p4-ul-2 {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.p4-ul-2 .p4-li-2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.p4-ul-2 .p4-li-2 img {
  width: 24px; /* Anpassa storleken på ikonerna */
  margin-right: 1rem;
  background-color: #E2E5F1;
  
}

.p4-ul-2 .p4-li-2 p {
  margin: 0;
  color: #565973;
}

.p4-text button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  padding: 12px 30px;
  font-family: "manrope", sans-serif;
  cursor: pointer;
  display: inline-flex;
  width: 10rem;
  align-items: center;
}

.p4-text button i {
  margin-left: 10px;
}


@media (max-width: 720px) {
  .p4-flex {
    flex-direction: column; /* Ändra layout till kolumn för små skärmar */
    align-items: flex-start; 
  }

  .item-left, 
  .p4-text, 
  .image-container {
    width: 100%; /* Låt varje sektion ta upp 100% av bredden på små skärmar */
    margin-right: 0;
  }

  .image-container {
    margin-top: 2rem; 
  }

  .item-left h2, 
  .p4-text h2 {
    font-size: 1.5rem; 
  }

  .p4-ul-1 .p4-li-1, 
  .p4-ul-2 .p4-li-2 {
    flex-direction: column; /* Ändra layout till kolumn för listor */
    align-items: flex-start;
  }

  .p4-ul-1 .p4-li-1 p, 
  .p4-ul-2 .p4-li-2 p {
    text-align: left;
  }

  .item-left button, 
  .p4-text button {
    width: 100%; 
    padding: 10px 0;
    justify-content: center;
  }
}


/* sida 5 clients */

#page5 {
  background-color: var(--color-gray100);
  padding: 4rem 0;
}

.container6 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.clients {
  flex: 1;
}

.clients h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 2rem;
}


.clients-grid {
  display: flex;
  flex: 2;
  gap: 4rem;
  justify-content: space-between;
}

.clients-card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 500px;
  position: relative;
}

.quote-icon {
  position: absolute;
  top: -20px;
  left: -20px;
}

.stars {
  color: #FFC107;
  margin-bottom: 1rem;
}

.clients-card p {
  font-size: 1rem;
  color: #565973;
  margin-bottom: 1.5rem;
}

.client-info {
  display: flex;
  align-items: center;
}

.client-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.client-info h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-black);
}

.client-info p {
  font-size: 0.9rem;
  color: #565973;
}
/* sista sidan*/

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-white); /* Ljusare bakgrund */
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-black);
  margin: 0;
}

p {
  font-size: 14px
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
#green {
  color: #22C55E
}

a:hover {
  text-decoration: underline;
}

/* FAQ Section */
#page6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  background-color: var(--color-white);
}

.faq {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 4rem;
}

.faq-left {
  width: 37%;
}

.faq-left h2 {
  margin-bottom: 0.5rem;
}

.faq-left p {
  font-size: 1rem;
  color: #565973;
  margin-bottom: 2rem;
}

.contact-options {
  display: flex;
  gap: 1rem;
}

.contact-option {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  flex: 1;
  text-align: left;
}

.contact-option img {
  width: 24px;
  height: 24px;
  margin-bottom: 1rem;
}

.contact-option p {
  margin: 0;
  font-size: 14px;
  color: #565973;
}

.contact-option a {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.contact-option a i {
  margin-left: 0.5rem;
  font-size: 0.875rem;
}

/* Accordion Styles */
.faq-right {
  width: 55%;
}

.accordion {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 16px; /* Mer rundade hörn */
  box-shadow: none; /* Tar bort skugga från hela accordionen */
}

.accordion-item {
  border: 1px solid #ddd; 
  border-radius: 5px; 
  margin-bottom: 10px; 
  padding: 1px; 
  background-color: var(--color-white); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Skugga på utsidan */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.accordion-item:hover {
  background-color: #F3F4F6; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem; 
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: background-color 0.3s ease; 
}

.accordion-title:hover {
  background-color: #F3F4F6; 
}

.accordion-title h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0; 
}

.accordion-title img {
  width: 40px; /* Gör knapparna större */
  height: 40px; 
  
}

.accordion-content {
  padding: 1rem 1.5rem; 
  color: #4B5563;
  border-top: 1px solid var(--color-white);
  background-color: var(--color-white); 
  max-height: 500px; 
  overflow: hidden; 
}

.accordion-item.open .accordion-content {
  max-height: 2000px; /* Tillräckligt stor för att täcka allt innehåll */
}

.accordion-item .accordion-content {
  max-height: 0; /* Gömmer innehållet */
  display: block;
}


/* Newsletter Section */
#newsletter-section {
  background-color: var(--color-white);
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  background-color: var(--color-gray100);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.newsletter-content {
  display: flex;
  align-items: center;
  color: #B4B7C9;
}

.newsletter-content img {
  width: 40;
  height: 40px;
  margin-right: 3rem;
}

.newsletter-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-black);
}

.newsletter-input {
  display: flex;
  
}

.newsletter-input input {
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 300px;
  padding-left: 30px;
}

.newsletter-input button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Styling för kuvertikonen */
.newsletter-input .input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.newsletter-input .input-icon i {
  position: absolute;
  left: 10px; /* Placera ikonen inuti inputfältet */
  color: #B4B7C9; /* Färgen på ikonen */
  font-size: 1rem;
}


/* Detta är texten allra längst ner på sidan*/
footer {
  font-size: 12px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--color-gray600);
  background-color: var(--color-white);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }
  .credit {
    display: none;
  }
}

/*contact page*/

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: var(-color-gray100);
}

.contact-info {
  width: 35%;
  margin-left: 4rem;
  margin-top: 3rem;
}

.contact-info ul {
  list-style-type: none;
}

.contact-holder-li {
  display: flex;
  margin-bottom: 20px;
  margin-top: 4rem;
}

.contact-holder img {
  width: 50px;
  margin-right: 15px;
}
.contact-info h2 {
  font-size: 40px;
  color: var(--color-black);
  font-weight: 900;
  margin-left: 3rem;
}

.contact-details h4 {
  font-size: 24px;
  color: var(--color-black);
}

.contact-details p {
  font-size: 16px;
  color: #666;
}

.bold-text {
  color: var(--color-black); 
}

.contact-details a {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

.contact-details a i {
  margin-left: 10px;
}

/* Form Section */
.contact-form {
  width: 40%;
  background-color: var(--color-white);
  padding: 90px 70px;
  margin-right: 8.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Add relative positioning */
  top: 90px; /* Adjust this value to control how far down the form is moved */
  z-index: 1; /* Ensure the form is in front of other elements */
}

.contact-form h2 {
  font-size: 32px;
  font-weight: 900;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--color-black);
}

.input-group input, .input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Map Section */
.map-address-container {
  display: flex;
  flex-direction: column 1fr;
  justify-content: space-between;
  padding: 40px;
}

.map {
  width: 45%;
}

.map img {
  width: 80%;
  border-radius: 10px;
  margin-left: 6rem;
  margin-top: 6rem;
}

.address-list {
  width: 45%;
  margin-top: 6rem;
}

.address h4 {
  font-size: 24px;
  font-weight: 900;
}

.address {
  margin-bottom: 20px;
}

.address p {
  font-size: 16px;
  color: #666;
}

.address i {
  color: var(--color-primary)
}

/* Social Media Icons */
.socials {
  text-align: center;
  margin-top: 3rem;
}

.socials img {
  width: 250px;
}
